name: Integracion Continua

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout del repositorio
      uses: actions/checkout@v3

    - name: Configurar Java
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Compilar y ejecutar tests
      run: mvn clean test

    - name: Empaquetar artefacto
      run: mvn package

- name: Subir artefacto generado
  uses: actions/upload-artifact@v4
  with:
    name: artefacto-maven
    path: target/*.jar

